//1.0 Fonts
//2.0 Vars
//3.0 Functions
//4.0 Global Styles
//5.0 Header
//6.0 Footer
//7.0 Home
//8.0 About
//9.0 Services
//10.0 Service Page
//11.0 Use cases
//12.0 Contact
//13.0 Quote

//1.0 Content Fonts
@import "https://fonts.googleapis.com/css?family=Hind+Madurai:400,700&display=swap"
@import "https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap"

//2.0 Content Vars
font-title = 'Hind Madurai', sans-serif
font-text = 'Noto Sans', 'Helvetica', Arial, sans-serif
color-title-brand = #130040
color-text-brand = #666666
color-blue-brand = #005bfe
color-bluelite-brand = #04a1ff
instagram-color = #DD2A7B
facebook-color = #3b5998

//3.0 Content Functions
isFnTransition(ms)
    transition: all ms linear
    -webkit-transition: all ms linear
    -moz-transition: all ms linear

isFnFullScreen(pos)
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: pos

isBubbleButton(bg, cl, rad)
    background: bg
    color: cl
    border-radius: rad
    padding: 15px
    text-align: center
    font-family: font-title
    font-weight: bold
    isFnTransition(0.3s)

    i
        margin-left: 10px
        color: cl
    
    &:hover
        box-shadow: 0 5px 15px rgba(0,0,0,0.3)

isFnFullOverviewContent() 
    text-align: center

    h1, h2, h3, h4, h5
        display: block
    
    p
        font-size: 16px
        color: #666
        width: 90%
        display: block
        margin: 0 auto 30px
        line-height: 26px

isFnCardBox(br, clsh)
    padding: 20px
    border-radius: br
    isFnTransition(0.3s)

    p   
        isFnTransition(0.3s)

    &:hover
        background: color-bluelite-brand
        box-shadow: 0 5px 15px rgba(0,0,0,0.2)

        p
            color: #FFF

isFnMenuButton(bg, cl)
    padding: 10px 15px
    background: bg
    border-radius: 5px
    color: cl

    &:hover
        background: color-title-brand
        color: #fff !important
        box-shadow: 0 10px 15px rgba(0,0,0,0.2)

isFnButton(bg, cl, fs, bgh, clh)
    padding: 10px 15px
    background: bg
    color: cl
    font-size: fs
    border-radius: 5px
    font-family: font-title
    font-weight: bold
    isFnTransition(0.3s)

    i
        margin-left: 10px
        font-size: fs - 2

    &:hover
        background: bgh
        color: clh
        box-shadow: 0 10px 15px rgba(0,0,0,0.2)


//4.0 Content Global Styles
body
    background: #fff
    font-family: font-text
    font-size: 14px
    color: #000

    h1, h2, h3, h4, h5
        font-family: font-title
        color: color-title-brand
        font-weight: bold
        margin-bottom: 20px
        letter-spacing: 1px
    
    h1
        font-size: 36px
    h2
        font-size: 30px
    h3
        font-size: 24px
    h4
        font-size: 20px
    h5
        font-size: 16px
    
    .is-title
        span
            display: block
            color: color-blue-brand
    
    .title-brand
        color: color-blue-brand
    
    p
        font-family: 14px
        color: #000
    
    p.is-pr-medium
        font-size: 16px
        line-height: 24px
        margin-bottom: 15px

    p.is-pr-big
        font-size: 18px
        line-height: 28px
        margin-bottom: 20px

    .is-img-small,
    .is-img-medium,
    .is-img-big,
    .is-img-full
        display: block

    .is-img-small
        max-width: 25%
    .is-img-medium
        max-width: 50%
    .is-img-big
        max-width: 75%
    .is-img-full
        max-width: 100%
    .is-img-centered
        margin: 0 auto
    .is-img-spaced
        margin: 30px auto
    
    .is-mt-15
        margin-top: 15px
    .is-mt-30
        margin-top: 30px
    .is-mt-50
        margin-top: 50px
    
    .is-opc
        img
            display: block
            margin: 0 auto
            opacity: 0.5
            isFnTransition(0.3s)
        
        &:hover
            img
                opacity: 1

    form
        fieldset 
            padding: 0
            box-sizing: border-box
            margin: 0

            label   
                display: block
                margin-bottom: 5px
                padding-left: 10px 
                color: #666
                font-weight: bold

            input,
            select,
            textarea
                box-sizing: border-box
                padding: 10px
                outline: 0
                border-radius: 5px
                width: 100%
                border: 2px solid rgba(0,0,0,0.1)
                color: color-title-brand
                font-size: 16px
                resize: none
                isFnTransition(0.3s)

                &:focus
                    border: 2px solid color-blue-brand
                    background: rgba(0,0,0,0.03)
            
            button
                border: 0
                width: 200px
                cursor: pointer
                isFnButton(color-title-brand, #fff, 18px, color-blue-brand, #fff)
    
    .is-view
        margin-top: 50px

//5.0 Content Header
.is-solid
    background: #FFF
    box-shadow: 0 5px 15px rgba(0,0,0,0.05)

    .is-menu
        ul
            li
                a
                    color: color-title-brand

                a.is-current,
                a:hover
                    color: color-blue-brand !important

                a.is-facebook
                    color: facebook-color
                    
                    &:hover
                        color: facebook-color !important

                a.is-instagram
                    color: instagram-color

                    &:hover
                        color: instagram-color !important

            li.is-button
                margin: 0 20px 0 10px

                a
                    isFnMenuButton(color-blue-brand, #FFF)

.is-transparent
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: 9900

    .is-menu
        ul
            li
                a
                    color: #fff
                
                a.is-facebook,
                a.is-instagram
                    color: color-title-brand

                    &:hover
                        color: #FFF
            
            li.is-button
                margin: 0 20px 0 10px

                a
                    isFnMenuButton(#FFF, color-title-brand)

.is-header
    padding: 10px 0

    .is-brand
        background: none

        img 
            display: block
            margin: 0
            width: 150px
    
    .is-menu
        font-family: font-title
        
        ul
            text-align: right 
            padding-top: 20px
         
            li
                position: relative
                display: inline-block
                font-size: 18px
                font-weight: bold
        
                a
                    display: block
                    padding: 10px
                    isFnTransition(0.3s)
        
                a.is-current,
                a:hover
                    color: color-title-brand
        
                ul.is-level
                    position: absolute
                    top: 40px
                    left: 0
                    display: none
                    opacity: 0
                    width: 250px
                    text-align: left 
                    background: #fff
                    padding: 10px
                    border-radius: 5px
                    box-shadow: 0 5px 15px rgba(0,0,0,0.07)
                    z-index: 9995
                    isFnTransition(0.5s)
        
                    li
                        font-size: 16px
                        font-weight: normal
                        display: block
        
                        a
                            color: color-text-brand
                            padding: 5px

                            i
                                width: 20px
                                margin-right: 3px
                                font-weight: bold
                                text-align: center
        
                            &:hover
                                color: color-blue-brand
            
                &:hover
                    ul.is-level
                        display: block
                        opacity: 1

//6.0 Content Footer
.is-footer
    background: color-title-brand

    img
        display: block
        margin: 0 auto 30px
        width: 200px
    
    strong
        font-family: font-title
        font-size: 36px
        display: block
        color: #FFF
        letter-spacing: 2px
    
    p
        color: #FFF
        font-size: 16px
        display: block
        margin-bottom: 50px
    
    ul
        li
            color: #999
            display: inline-block
            margin-right: 15px

            a
                color: inherit
                isFnTransition(0.3s)

                &:hover
                    color: #FFF
    
    .social
        a
            font-size: 20px
            color: color-blue-brand
            margin-left: 20px
    
    .pie
        border-top: 1px solid rgba(255,255,255,0.15)
        color: #F8F8F8

//7.0 Content Home
.is-view-home
    .is-comp-slider
        height: 680px
        margin-bottom: 50px

        //Overwrite slider properties
        .nivo-caption
            bottom: 20%
            right: 5%
            width: 40%
            background: none

            h3
                color: color-title-brand
                font-size: 38px
                margin-bottom: 0

                span    
                    display: block
            
            p
                color: #ffffff
                font-size: 20px
                line-height: 30px

                a 
                    color: color-title-brand
                    text-decoration: underline
    
    .is-services
        margin-top: 90px

        .is-card
            div
                isFnCardBox(5px, rgba(0,0,0,0.09))

                h2
                    font-size: 22px
                    margin-bottom: 10px

                i
                    color: color-blue-brand
                    margin-right: 5px

                a
                    color: inherit
    
    .is-experiences
        margin-top: 75px
        padding: 50px 0
        background: color-blue-brand

        h3
            margin-top: 50px

        p
            color: #fff

        .is-half
            margin-bottom: 75px
        
        .is-link
            text-align: center
            font-size: 13px

            a
                display: block
                width: 200px
                margin: 0 auto 10px
                isFnButton(#fff, color-title-brand, 18px, color-title-brand, #fff)

    .is-we-contact
        margin-top: 50px
        margin-bottom: 50px
        padding-top: 50px
        text-align: center

        .is-full
            background: url('/assets/img/worksapace-ilustration.png') no-repeat center bottom
                
        p
            font-size: 18px
            text-align: center
        
        .is-custom
            width: 65%
            margin: 50px auto 250px
            padding: 50px 0

            input,
            button
                box-sizing: border-box
                float: left
                padding: 15px
                outline: 0
                border: none
                font-size: 16px
                font-weight: bold
                background: rgba(0,0,0,0.05)
                text-align: center
                color: color-blue-brand
                isFnTransition(0.3s)

            input:first-of-type
                width: 50%
                border-right: 1px solid rgba(0,0,0,0.1)
           
            input:last-of-type
                width: 30%
            
            .is-first
                border-radius: 5px 0 0 5px
            
            .is-last
                width: 20%
                border-radius: 0 5px 5px 0
                background: color-blue-brand
                color: #fff
                font-family: font-title
                cursor: pointer

                i
                    margin-right: 5px
                
                &:hover
                    background: color-title-brand
                    box-shadow: 0 10px 15px rgba(0,0,0,0.2)
    
    .is-clients
        background: rgba(0,0,0,0.03)
        padding: 50px 0 0 0

        h3
            display: block
            text-align: center
        
        img
            opacity: .5
            isFnTransition(0.3s)

            &:hover
                opacity: 1
        
        .is-rating
            padding-bottom: 50px
            margin-top: 50px

            .owl-stage-outer
                padding-bottom: 50px
            
            .owl-nav
                text-align: center
                button
                    font-size: 38px
                    margin: 0 20px
                    outline: 0
                    isFnTransition(0.3s)

                    &:hover
                        color: color-blue-brand

            .item
                background: #FFF
                border-radius: 5px
                box-sizing: border-box
                padding: 20px
                min-height: 210px
                box-shadow: 5px 10px 15px rgba(0,0,0,0.1)

                strong
                    color: color-blue-brand
                    font-size: 18px
                    font-family: font-title
                    display: block
                    margin-bottom: 15px
                
                p
                    margin-bottom: 20px
                
                i
                    color: #fabd28
    

//8.0 Content About
.is-view-about
    .is-services
        padding-top: 100px

        .is-item
            margin-bottom: 50px

            i,
            h2,
            p
                display: block
            
            i
                color: color-title-brand
                font-size: 20px

            h2
                color: color-blue-brand
                font-size: 20px
                margin-top: 10px
                margin-bottom: 0

                a
                    color: inherit

    .is-vision
        padding: 50px 0
        background: color-blue-brand
        
        i
            display: bottom 
            font-size: 24px

        p
            color: #FFF
    

//9.0 Content Services
.is-view-services
    .is-item
        i
            display: block
            font-size: 20px
            margin-bottom: 10px

        h2
            font-size: 22px
            color: color-blue-brand

            a 
                color: inherit

//10.0 Content Service Detail
.is-view-servicedetail
    h1
        margin-bottom: 0

        span
            color: color-blue-brand
    
    .is-breads
        margin-bottom: 30px

        a
            color: color-blue-brand
            font-weight: bold

            &:hover
                text-decoration: underline
        
        i
            margin: 0 10px
    
    .is-sub-services
        margin-top: 50px
        margin-bottom: 75px

        .is-item
            box-shadow: 0 5px 15px rgba(0,0,0,0.1)
            isFnCardBox(5px, rgba(0,0,0,1.2))

            h3
                i
                    color: color-blue-brand
                    isFnTransition(0.3s)
            
            &:hover
                i   
                    color: #fff
    
    .is-steps
        background: color-blue-brand
        padding-top: 50px
        padding-bottom: 50px

        p
            color: #fff
        
        .is-two-thirds
            margin-top: 50px
        
        .is-item
            padding: 20px
            background: #ffffff
            border-radius: 5px
            box-shadow: 0 10px 15px rgba(0,0,0,0.2)
            isFnTransition(0.3s)

            h4
                margin-bottom: 5px

            p
                color: color-text-brand
            
            &:hover
                box-shadow: 0 10px 15px rgba(0,0,0,0.3)
    
    .is-contact
        margin-bottom: 50px

        .is-questions
            margin-top: 50px

            .is-question
                position: relative
                background: rgba(0,0,0,0.05)
                padding: 10px
                font-size: 16px
                cursor: pointer
                border-bottom: 1px solid rgba(0,0,0,0.1)
                isFnTransition(0.3s)

                i
                    position: absolute
                    top: 15px
                    right: 20px
                    color: color-blue-brand

                &:hover
                    background: rgba(0,0,0,0.05)

            .is-answer
                padding: 20px 10px
                display: none
            
            .is-default
                display: block

//11.O Content Clients
.is-view-clients
    .is-card-experience
        h2
            margin-bottom: 0
            color: color-blue-brand

            a
                color: inherit 

                &:hover
                    text-decoration: underline
        
        p
            color: #999
            margin-top: -5px
            font-size: 16px
        
        .art
            padding: 50px

            img
                display: block
                margin: 0 auto
                max-width: 100%
                box-shadow: 0 5px 15px rgba(0,0,0,0.1)


//12.0 Content Contact
.is-view-contact
    margin-bottom: 50px

    .is-card
        margin-top: 60px

        div
            isFnCardBox(5px, color-blue-brand)
            box-shadow: 0 5px 15px rgba(0,0,0,0.1)

            strong
                font-size: 16px
                display: block
                margin-bottom: 5px

                i
                    margin-right: 5px
            
            a
                color: color-blue-brand
                font-weight: bold
                font-size: 18px

                &:hover
                    text-decoration: underline

            &:hover
                background: color-blue-brand

                a
                    color: #FFF
            

    .is-form
        margin-top: 75px

// 13.0 Content Quote
.is-view-quote
    .is-form
        margin-top: 50px
        margin-bottom: 50px

    .is-item
        div
            padding: 20px 0
            box-shadow: 0 5px 15px rgba(0,0,0,0.1)
            border-radius: 5px
            margin-bottom: 30px
            text-align: center
            cursor: pointer
            isFnTransition(0.3s)

            strong,
            i
                display: block
                font-size: 20px
            
            strong
                font-family: font-title
                margin-top: 10px

                span
                    display: block
                    color: color-blue-brand
                    isFnTransition(0.3s)
            
        div:hover,
        div.is-checked
            background: color-blue-brand
            box-shadow: 0 5px 10px rgba(0,0,0,.2)

            strong
                span
                    color: #fff
        

//RESPONSIVE RULES
//Widescreen
//@media only screen and (min-width: 1216px) and (max-width: 1407px) { }
//Desktop
//@media only screen and (min-width: 1024px) and (max-width: 1215px) { }

//Tablet
@media only screen and (min-width: 769px) and (max-width: 1023px)

    .is-view-home
        .is-comp-slider
            height: 450px
        
        .is-we-contact
            .is-custom
                width: 90%
    



//Mobile
@media only screen and (max-width: 768px)
    .is-header
        .is-brand
            padding: 20px

            img
                width: 100px

            i
                display: block !important
                position: absolute
                top: 10px
                right: 15px
                padding: 20px
                font-size: 32px
                background: #fff
                border-radius: 5px
                color: color-blue-brand

        .is-menu
            position: fixed
            top: 0
            left: 0
            background: color-blue-brand
            width: 100%
            height: 100%
            z-index: 100

            ul
                text-align: center
                padding: 50px 0 0 0

                li
                    display: block

                    a
                        color: #FFF

                        &:hover
                            color: #FFF

                    a.is-current
                        color: #130040 !important

                    ul.is-level
                        display: none
                        position: relative
                        top: 0
                        opacity: 1
                        width: 100%
                        background: none
                        box-shadow: none
                        text-align: center
